@model PreviewItem

<div class="border rounded border-zinc-300 overflow-hidden bg-gray-100">
    <div class="py-3 px-6 text-center">
        @Html.Raw(Model.QuestionText)
    </div>
    <div class="border-t border-zinc-300 py-3 px-6 text-center">
        @foreach (var answer in Model.Answers) {
            <p>@answer</p>
        }
    </div>
</div>
