@model PreviewModel

<div class="flex flex-col justify-center p-6 pt-0">
    <h3 class="pb-4 text-lg font-semibold text-gray-700 text-center">Preview:</h3>
    <div class="w-full overflow-x-auto">
        <div class="flex flex-row w-max justify-center space-x-4">
            @foreach (var item in Model.Items){
                <partial name="_PreviewItem" model="item"/>
            }
        </div>
    </div>
</div>
