@using MoodleAssistant.Logic.Utils
<label class="my-3 block">
    Template format:
    <select class="pl-2" @bind="Format">
        @foreach (var format in Enum.GetValues(typeof(Format)).Cast<Format>())
        {
            @if (format == Format.Invalid){
                continue;
            }

            <option value="@format">@format</option>
        }
    </select>
</label>

@code {
    public Format Format { get; private set; } = Format.Xml;
}