@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

@{
    var hidden = !IsVisible ? "hidden" : "";
}

<label @attributes="AdditionalAttributes" class="min-w-64 py-10 px-6 w-full drop-zone @(hidden)">
    <span class="flex flex-col items-center text-gray-500">
        @if (UploadedFiles.Count < MaxFiles){
            @ChildContent
        }
    </span>
    <InputFile class="hidden" OnChange="(e) => OnChange.InvokeAsync(e)" data-testid="@InputName"/>
</label>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
    [Parameter]
    public string InputName { get; set; } = string.Empty;
    [Required] [Parameter]
    public int MaxFiles { get; init; }
    [Parameter]
    public required Dictionary<int, IBrowserFile> UploadedFiles { get; set; }
    [Parameter]
    public bool IsVisible { get; set; }
    [Parameter]
    public EventCallback<InputFileChangeEventArgs> OnChange { get; set; }
    
}