@{
    var hidden = !IsVisible ? "hidden" : "";
}

<label @attributes="AdditionalAttributes" class="min-w-64 py-10 px-6 w-full drop-zone @(hidden)">
    <span class="flex flex-col items-center text-gray-500">
        @if (UploadedFiles.Count < MaxFiles){
            @ChildContent
        }
    </span>
    <InputFile class="hidden" OnChange="(e) => OnChange.InvokeAsync(e)" data-testid="@InputName"/>
</label>