<div class="file-gen-item mt-1">
    <p class="text-sm">@FileName</p>
    <button type="button" class="absolute right-0 px-1" @onclick="Close">
        <span class="material-symbols-outlined text-lg">close</span>
    </button>
</div>

@code {
    [Parameter]
    public required string FileName { get; set; }
    [Parameter]
    public EventCallback<string> OnClose { get; set; }
    
    private async Task Close()
    {
        await OnClose.InvokeAsync(FileName);
    }
}