@using System.ComponentModel.DataAnnotations
@rendermode InteractiveServer

@{
    string msgClass;
    string textClass;
    switch (Type){
        case MessageType.Error:
            msgClass = "error-dialog";
            textClass = "text-red-600";
            break;
        case MessageType.Info:
            msgClass = "info-dialog";
            textClass = "text-blue-600";
            break;
        case MessageType.Success:
            msgClass = "success-dialog";
            textClass = "text-green-600";
            break;
        default:
            throw new ArgumentOutOfRangeException();
    }
}

@if (_visible){
    <p class="px-3 py-2 mt-3 @(msgClass)">@MsgText</p>
    @if (CanClose){
        <button type="button" class="absolute top-0 right-0 py-0 px-1" @onclick="Close">
            <span class="material-symbols-outlined text-lg @(textClass)">close</span>
        </button>
    }
}


@code {
    private bool _visible = false;

    [Parameter]
    public string? MsgText { get; set; }
    [Required][Parameter]
    public MessageType Type { get; set; }
    [Required][Parameter]
    public bool CanClose { get; set; }
    
    protected override void OnInitialized(){
        _visible = Type != MessageType.Error;
    } 
    
    
    public void Show(){
        _visible = true;
    }
    
    private void Close(){
        _visible = false;
    }

    public void Refresh(){
        StateHasChanged();
    }
}