@using MoodleAssistant.Utils
@model UploadCsvFileModel
@{
    ViewData["Title"] = "Upload CSV";
    var alert = string.Empty;
    if (Model.Error != Error.NoErrors)
    {
        var errorMessage = ErrorMessage.GetErrorMessage(Model.Error);
        alert = "<div id=\"alert-error-csv\" class=\"alert alert-warning " + Model.Error.ToString() + "\" role=\"alert\">" + errorMessage + "</div>";
    }

}
<div class="text-center upload-container">
    @Html.Raw(alert)
    <h1 class="display-4">Upload your answers in CSV format</h1>
    <form enctype="multipart/form-data" asp-controller="Csv" asp-action="Upload" method="post">
        <label>
            <i class="fas fa-arrow-circle-up fa-8x cursor-pointer"></i>
            <input type="file" name="file" id="upload-csv-answers" style="display: none" onchange="form.submit()">
        </label>
    </form>
</div>
