@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center title-container">
    <h1 class="display-4">Moodle Assistant</h1>
    <p>Insert <code>[*[[placeholders]]*]</code> and get your questions</p>
    <br/><br/>
</div>
<div>
    <h2 class="text-center">Bored of rewrite each question in Moodle?</h2>
    <p>
        Thanks to Moodle Assistant you can create only one question in Moodle and expand it in a set of similar questions. 
        You must create a question in Moodle XML format, change words to placeholders and export it.
        Create a CSV and get some copies of the question. Now just upload these questions in Moodle.
    </p>
</div>
<div class="container mt-md-5 mt-1">
    <div class="row">
        <div class="col-md-6">
            <div class="offset-md-2 col-md-8 mt-3">
                <a asp-controller="Home" asp-action="Tutorial">
                    <input type="button" id="tutorial" class="btn btn-outline-secondary btn-block" value="Tutorial"/>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="offset-md-2 col-md-8 mt-3">
                <a asp-controller="Xml" asp-action="Upload">
                    <input type="button" id="upload-xml" class="btn btn-outline-primary btn-block" value="Start now" />
                </a>
            </div>
        </div>
    </div>
</div>
