@{
    ViewData["Title"] = "Home Page";
}

<div class="h-full pt-1/5 px-5 xl:pt-1/10 lg:px-44 2xl:px-96">
    <div class="text-center">
        <h1 class="text-5xl text-gray-700">Moodle Question Replicator</h1>
        <p class="mt-1">Insert <span class="code">[*[[placeholders]]*]</span> and get your questions</p>
        <br/><br/>
    </div>
    <div>
        <h2 class="text-center text-2xl text-gray-700">Bored with rewriting each question in Moodle?</h2>
        <p class="mt-1 text-center">
            Thanks to MQ-Replicator you can create only one question in Moodle and expand it in a set of similar questions.
            You must create a question in Moodle XML format, change words to placeholders and export it.
            Create a CSV and get some copies of the question. Now just upload these questions in Moodle.
        </p>
    </div>
</div>
<div class="mt-16 flex flex-row justify-center space-x-24">
    <a asp-controller="Home" asp-action="Tutorial">
        <input type="button" id="tutorial" class="btn btn-secondary py-1.5 px-20" value="Tutorial" />
    </a>
    <a asp-controller="Main" asp-action="Index">
        <input type="button" id="upload-xml" class="btn btn-primary py-1.5 px-20" value="Start now" />
    </a>
</div>
