@using MoodleAssistant.Utils
@model UploadXmlFileModel
@{
    ViewData["Title"] = "Random Questions";

    var alert = string.Empty;
    if (Model.Error != Error.NoErrors)
    {
        var errorMessage = ErrorMessage.GetErrorMessage(Model.Error);
        alert = "<div id=\"alert-error-xml\" class=\"alert alert-warning " + Model.Error.ToString() + "\" role=\"alert\">" + errorMessage + "</div>";
    }
}
<div class="text-center">
    @Html.Raw(alert)
    <h1 class="display-4">Upload your question in Moodle XML format</h1>
    <form enctype="multipart/form-data" asp-controller="ProcessXml" asp-action="ProcessXmlQuestion" method="post">
        <label>
            <i class="fas fa-arrow-circle-up fa-8x"></i>
            <input type="file" name="file" id="upload-xml-question" style="display: none" onchange="form.submit()">
        </label>
    </form>
</div>