@model UploadXmlFileModel
@{
    ViewData["Title"] = "Summary Page";
    var questiontextContainer = Model.GetFormattedQuestionText();
    var answerContainer = Model.GetFormattedAnswers();
}
<div class="text-center">
    <div class="card">
        <div class="card-header">
            <h4>Your Question</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.Raw(questiontextContainer)</h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h4>Answers</h4>
        </div>
        <div class="card-body">
            <h5 class="card-title">@Html.Raw(answerContainer)</h5>
        </div>
    </div>
</div>
