@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MoodleAssistant.Utils
@model MainModel
@{
    ViewData["Title"] = "Main";

    var errorEl = String.Empty;
    var xml = Model.XmlModel; // is null, why?
    if (Model.Error != Error.NoErrors){
        errorEl = "<p class='px-3 py-2 error-dialog'>" + ErrorMessage.GetErrorMessage(Model.Error) + "</p>";
    }
}
@section Scripts {
    <script src="~/js/Upload.js" type="module"></script>
}
<div id="content" class="pt-16">
    <div class="flex items-center justify-center mx-auto">
        <div class="pb-9">
            <p class="mb-6 text-center">Here you can upload your XML and CSV files:</p>
            <form enctype="multipart/form-data" method="post" id="first-form" asp-controller="Main" asp-action="UploadFiles">
                <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-3 md:flex-row">
                    <div class="file-input-item">
                        <label class="drop-zone flex justify-center w-full border border-zinc-400 bg-gray-100 border-dashed rounded appearance-none cursor-pointer h-32 px-4 hover:border-zinc-500 focus:outline-none">
                            <span class="flex items-center text-gray-500">
                                Drop XML file here, or<span class="text-blue-500 underline ml-[4px]">browse</span>
                            </span>
                            <input type="file" name="xml_upload" class="hidden" accept="text/xml" id="xml-input">
                        </label>
                        <div class="preview-container"></div>
                    </div>
                    <div class="file-input-item">
                        <label class="drop-zone flex justify-center w-full border border-zinc-400 bg-gray-100 border-dashed rounded appearance-none cursor-pointer h-32 px-4 hover:border-zinc-500 focus:outline-none">
                            <span class="flex items-center text-gray-500">
                                Drop CSV file here, or<span class="text-blue-500 underline ml-[4px]">browse</span>
                            </span>
                            <input type="file" name="csv_upload" class="hidden" accept="text/csv" id="csv-input">
                        </label>
                        <div class="preview-container"></div>
                    </div>
                </div>
                <div class="flex flex-row mt-3">
                    <button type="submit" class="btn btn-primary py-1.5 px-6" id="upload-files">Upload</button>
                    <button class="btn btn-secondary py-1.5 px-6 ml-3" id="clear-files">Clear</button>
                </div>
                <div id="error-container" class="relative pt-3">
                    @Html.Raw(errorEl)
                    @if(errorEl != String.Empty){
                        <button class="absolute top-2 right-0 p-1" id="close-error">
                            <span class="material-symbols-outlined text-lg text-red-600">
                                close
                            </span>
                        </button>
                    }
                </div>
            </form>
        </div>
    </div>
    @if (Model.RenderParameters){
        @await Html.PartialAsync("_Analysis", Model.XmlModel)
    }
</div>