@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<div class="px-16 pt-10 pb-8">
    <h1 class="mb-3 text-3xl text-red-600">Error.</h1>
    <h2 class="mb-6 text-2xl text-red-600">An error occurred while processing your request.</h2>

    @if (ShowRequestId)
    {
        <p class="mb-6">
            <strong>Request ID:</strong> <code>@RequestId</code>
        </p>
    }

    <h3 class="text-lg mb-1 font-semibold">Development Mode</h3>
    <p>
        Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
    </p>
    <p>
        <strong>The Development environment shouldn't be enabled for deployed applications.</strong>
        It can result in displaying sensitive information from exceptions to end users.
        For local debugging, enable the <strong>Development</strong> environment by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>
        and restarting the app.
    </p>
</div>

@code{
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
