@page "/Replicator"
@using MoodleAssistant.Components.Upload
@using MoodleAssistant.Services
@using Microsoft.AspNetCore.Components.Sections
@rendermode InteractiveServer
@inject ReplicatorState replicatorState;
@inject IJSRuntime JS

<PageTitle>Replicator</PageTitle>
<div id="content" class="pt-8 pb-8">
    <div class="flex items-center justify-center mx-auto">
        <div class="pb-9">
            <p class="mb-6 text-center">Here you can upload your XML and CSV files:</p>
            <EditForm id="main-form" Model="Model" FormName="main-upload" enctype="multipart/form-data" Enhance OnSubmit="Submit">
                <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-3 md:flex-row">
                    <FileDropInput name="Model.Xml" accept="text/xml" id="xml-input"/>
                    <FileDropInput name="Model.Csv" accept="text/csv" id="csv-input"/>
                </div>
                <div class="flex flex-row mt-3">
                    <button type="submit" class="btn btn-primary py-1.5 px-6">Upload</button>
                    <button class="btn btn-secondary py-1.5 px-6 ml-3" id="main-clear-files" @onclick="ClearForm">Clear</button>
                </div>
                <div id="error-container" class="relative">
                    <!--
                        <button class="absolute top-0 right-0 py-0 px-1" id="close-error">
                            <span class="material-symbols-outlined text-lg text-red-600">close</span>
                        </button>
                    -->
                </div>
            </EditForm>
        </div>
    </div>
</div>
<SectionContent SectionId="App.LocalScripts">
    <script src="js/replicator.js"></script>
</SectionContent>

@code{
    [SupplyParameterFromForm] private FormModel Model{ get; set; } = new();
    
    private async Task Submit(){
        var f = Model;
    }
    
    private void ClearForm(){
        JS.InvokeVoidAsync("clearForm", "main-form");
    }

    public class FormModel
    {
        public IFormFile Xml { get; set; }
        public IFormFile Csv { get; set; }
    }
}