@page "/Tutorial"

<PageTitle>Tutorial</PageTitle>

<div class="pt-20 xl:pt-1/10 lg:px-44 2xl:px-96">
    <div class="text-center">
        <h2 class="text-2xl text-gray-700">Let's take an example of how MQ-Replicator works.</h2>
        <p class="mt-2">
            Think about teachers asking their students what is the capital of some states.
            How boring can be creating a question for each state?
            MQ-Replicator can be the solution!
        </p>
    </div>
</div>

@code {
    
}